@charset "UTF-8";
@import url(./reset.css);
.HomePage-wrap {
  width: 100%;
  width: 100%;
  margin: 0 auto;
  background-image: url("../image/背景背景.png");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  /* 漢堡 */
  /* 漢堡選單 */
  /* 內容item */
  /* 第四 */

}
.HomePage-wrap .header {
  z-index: 100;
  display: flex;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 1px 2px 5px gray;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 0px 20px;
}
.HomePage-wrap .navbar.hidden {
  display: none;
}
.HomePage-wrap .hamburger {
  display: none;
  cursor: pointer;
  font-size: 28px;
}
@media (max-width: 1042px) {
  .HomePage-wrap .header {
    display: flex;
    justify-content: space-between;
  }
  .HomePage-wrap .navbar {
    display: block;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fdfbfb;
    box-shadow: 1px 3px 5px gray;
  }
  .HomePage-wrap .navbar li {
    padding: 15px 0;
    margin: 0;
    text-align: center;
  }
  .HomePage-wrap .navbar li a {
    font-size: 20px;
  }
  .HomePage-wrap .hamburger {
    display: block;
  }
  .HomePage-wrap .icon {
    display: none;
  }
}
.HomePage-wrap #logo img {
  opacity: 0.9;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.HomePage-wrap .navbar {
  display: flex;
}
.HomePage-wrap .navbar li {
  padding-left: 30px;
  padding-right: 40px;
  margin-right: 50px;
}
.HomePage-wrap .navbar li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: black;
}
.HomePage-wrap .icon a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: black;
}
.HomePage-wrap .icon a:hover {
  color: crimson;
  border-bottom: 4px solid crimson;
  padding-bottom: 16px;
  transition: 1s;
}
.HomePage-wrap .navbar li a:hover {
  color: crimson;
  border-bottom: 4px solid crimson;
  padding-bottom: 16px;
  transition: 1s;
}
.HomePage-wrap .banner {
  position: relative;
  background-attachment: fixed;
}
.HomePage-wrap .banner img {
  filter: brightness(85%);
}
.HomePage-wrap .text-banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5% 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}
.HomePage-wrap .text-banner h1 {
  font-size: 40px;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 55px;
}
.HomePage-wrap .text-banner li {
  font-size: 18px;
  display: inline-block;
}
.HomePage-wrap .text-banner li a {
  text-decoration: none;
  margin: 10px;
  padding: 15px;
  color: white;
  border-radius: 40px;
  border: 2px solid white;
}
.HomePage-wrap .text-banner li:first-child a {
  color: #000;
  background-color: rgb(255, 255, 255);
}
.HomePage-wrap .text-banner li a:hover {
  border: 2px solid crimson;
  background-color: crimson;
  color: #fff;
  transition: 1s;
  font-weight: bold;
}
.HomePage-wrap .container {
  margin-right: 5rem;
  padding-top: 150px;
  padding-bottom: 150px;
  background-attachment: fixed;
}
.HomePage-wrap .content {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.HomePage-wrap .content i {
  font-size: 100px;
  color: rgb(98, 51, 34);
}
.HomePage-wrap .item {
  padding: 0px 40px;
}
.HomePage-wrap .item:nth-child(2) {
  border-right: 0.5px solid gray;
  border-left: 0.5px solid gray;
  height: 300px;
}
.HomePage-wrap .content h4 {
  padding-top: 30px;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;

}
.HomePage-wrap .content p {
  color: rgb(89, 88, 88);
  line-height: 30px;
  width: 40ch;
}
.HomePage-wrap .container2 {
  width: 100%;
  max-width: 100%;
  height: 500px;
  background-color: aqua;
  overflow: hidden;
  background-attachment: fixed;
}
.HomePage-wrap .container2 video {
  width: 100%;
  height: 100%;
  filter: brightness(60%);
  object-fit: cover;
}
.HomePage-wrap .container3 {
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.HomePage-wrap .container3 h4 {
  font-size: 58px;
  font-weight: bolder;
}
.HomePage-wrap .content3 {
  display: flex;
  width: 80%;
  margin-top: 50px;
}
.HomePage-wrap .content3 p {
  line-height: 30px;
}
.HomePage-wrap .container3-main {
  margin: 0 auto;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
.HomePage-wrap .container3-main .container3 {
  width: 100%;
}
.HomePage-wrap .container3-main .container3 .container3-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.HomePage-wrap .gallery {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.HomePage-wrap .gallery .box {
  width: 25%;
  height: 17rem;
  flex-grow: 1;
  overflow: hidden;
  border-radius: 0.8rem;
  position: relative;
}
.HomePage-wrap .gallery .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(60%);
}
.HomePage-wrap .gallery .box img:hover {
  filter: brightness(100%);
  transform: scale(1.2, 1.2);
  transition: 1s;
}
.HomePage-wrap .gallery .box .text3 {
  position: absolute;
  bottom: 0;
  padding: 1.5rem 2rem;
  left: 0;
  z-index: 1;
}
.HomePage-wrap .gallery .box .text3 h2 {
  font-size: 1.4rem;
  color: white;
  font-weight: 500;
}
@media (max-width: 1042px) {
  .HomePage-wrap .banner img {
    width: 100%;
  }
  .HomePage-wrap .banner h1 {
    font-size: 1.5rem;
  }
  .HomePage-wrap .text-banner li {
    font-size: 0.8rem;
  }
}
@media (max-width: 1042px) {
  .HomePage-wrap .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .HomePage-wrap .item {
    width: 50%;
    border: 1px solid gray;
    margin: 10px 2px;
  }
}

/*# sourceMappingURL=HomePage.css.map */
